.logo
	width: 250px
	height: 250px
.letras
	width: 60%
	height: 40px
p
	font-family: 'lora', serif

.rede-sociales
	list-style: none
	font-family: 'lora', serif
	a
		font-size: 20px
		line-height: 2
		&:hover
			text-decoration: none
			
		