@font-face
	font-family: Lora
	src: url("../fonts/Lora-Italic.ttf")
	
	font-family: arcade
	src: url("../fonts/ARCADE.ttf")



/*    <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">*/