*
	margin: 0
	padding: 0

.selector-for-some-widget
	box-sizing: content-box
//menu de todas las paginas
nav
	font-family: 'Lora', serif
.navbar-brand
	font-family: arcade

	/* The hero image */
body, html 
	height: 100%

.hero
	background-image: url("../img/hero.png")
	height: 50%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	/* Place text in the middle of the image */
.hero-text 
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	color: white
	



