*
	margin: 0
	padding: 0

.selector-for-some-widget
	box-sizing: content-box
//menu de todas las paginas
nav
	font-family: 'Lora', serif
.navbar-brand
	font-family: arcade
//iconos de redes sociales de todas las paginas
.redes-sociales
	list-style: none
	li
		display: inline-block
		a
			margin: 20px
			font-size: 25px
//footer de todas las paginas
footer
	position: relative
	margin-top: 10px 
	clear: both

	background-color: #343a40
	font-size: 14px
	text-align: center
	color: white
	a
		color: white
		&:hover
			color: white
			text-decoration: none


